<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dao层 -->
<mapper namespace="com.dandy.dao.ItemDao">
    <insert id="addItem" parameterType="item">
        insert into csoits.item values (null,#{iname},#{idescribe},#{iprice},now(),#{ipic},#{sid})
    </insert>
    <select id="listAll" resultType="item">
        select * from csoits.item
    </select>
    <select id="pickItem" resultType="item" parameterType="string">
        select * from csoits.item where iname like CONCAT('%', #{text}, '%') or idescribe like CONCAT('%', #{text}, '%')
    </select>
</mapper>