<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dao层 -->
<mapper namespace="com.dandy.dao.UserDao">
    <select id="getUser" resultType="user">
        select * from csoits.user where username=#{username} and password=#{password}
    </select>
    <select id="checkUser" resultType="user">
        select * from csoits.user where username=#{username}
    </select>
    <insert id="addUser" parameterType="user">
        insert into csoits.user(uid, username, password) values (null,#{username},#{password})
    </insert>
    <update id="editUser" parameterType="user">
        update csoits.user set password=#{password},uname=#{uname},uhead=#{uhead},usex=#{usex},unote=#{unote},ubirth=#{ubirth},uphone=#{uphone},uemail=#{uemail},uaddress=#{uaddress},ubalance=#{ubalance} where uid=#{uid}
    </update>
</mapper>