.cash-box{
    width: 100px;
    height: 50px;
    border: 1px solid white;
    margin: 10px;
    line-height: 50px;
    color: white;
    cursor: pointer;
}
.cash-box-sd{
    width: 100px;
    height: 50px;
    border: 1px solid white;
    margin: 10px;
    line-height: 50px;
    color: white;
    cursor: pointer;
}