<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增收货地址</title>
    <link rel="stylesheet" th:href="@{/stylesheets/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/scripts/layui/css/layui.css}">
    <script th:src="@{/scripts/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/scripts/layui/layui.js}"></script>
    <script th:src="@{/scripts/bootstrap.min.js}"></script>
</head>
<body>
<div th:include="top :: top"></div>
<br><br>
<div align="center" class="container">
    <h2 style="color: wheat">新增收货地址</h2><br><br>
    <form style="background: none;border: none" method="post" id="form1" class="form-control layui-form">
        <div id="address" style="width: 300px" class="container">
            <select required lay-ignore id="province" name="pid" class="custom-select custom-select-sm">
                <option value="" selected disabled>请选择省份</option>
            </select><br><br>
            <select required lay-ignore id="city" name="cid" class="custom-select custom-select-sm">
                <option value="" selected disabled>请选择市</option>
            </select><br><br>
            <select required lay-ignore id="district" name="did" class="custom-select custom-select-sm">
                <option value="" selected disabled>请选择地区/县</option>
            </select><br><br>
            <select required lay-ignore id="street" name="sid" class="custom-select custom-select-sm">
                <option value="" selected disabled>请选择街道/乡/镇</option>
            </select>
        </div>
        <br><br>
        <div class="container" style="width: 300px">
            <textarea autocomplete="off" required class="form-control" placeholder="详细地址..." style="width: 270px" name="detail" id="detail" rows="3"></textarea>
            <br><br>
            <input autocomplete="off" required class="form-control" type="text" name="aname" placeholder="收件人姓名"><br><br>
            <input autocomplete="off" required lay-verify="phone" class="form-control" type="text" name="aphone" placeholder="收件人手机号"><br><br>
        </div>
        <input type="submit" lay-submit class="btn btn-primary" value="提交"><br><br><br><br><br>
    </form>
</div>
</body>
<script type="application/javascript">
    //校验
    layui.use(['laydate','layer','form'], function() {
        let laydate = layui.laydate;
        let layer = layui.layer;
        let form = layui.form;
        form.verify({
            phone: [
                /^\s*$|^1[3456789]\d{9}$/
                ,'请输入正确的手机号'
            ],
            email: [
                /^\s*$|^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
                ,'邮箱格式不正确'
            ]
        })
    });

    $(function () {
        //获取省份
        $.ajax({
            type: "post",
            url: "[[@{/address/getP}]]",
            data: null,
            dataType: "json",
            success: function (data) {
                for (let i = 0; i < data.length; i++) {
                    let option = $("<option>").val(data[i].pid).text(data[i].pname);
                    $("#province").append(option);
                }
            }
        });

        //选中省份是获取市
        $("#province").change(function () {
            let pid = $("#province").val();
            let obj = $("#city");
            $.ajax({
                type: "post",
                url: "[[@{/address/getC}]]",
                data: {"pid": pid},
                dataType: "json",
                success: function (data) {
                    obj.empty();
                    obj.append($("<option disabled selected>").val('').text("请选择市"));
                    for (let i = 0; i < data.length; i++) {
                        let option = $("<option>").val(data[i].cid).text(data[i].cname);
                        $("#city").append(option);
                    }
                }
            })
        });

        //选中市时获取区/县
        $("#city").change(function () {
            let cid = $("#city").val();
            let obj = $("#district");
            $.ajax({
                type: "post",
                url: "[[@{/address/getD}]]",
                data: {"cid": cid},
                dataType: "json",
                success: function (data) {
                    obj.empty();
                    obj.append($("<option disabled selected>").val('').text("请选择区/县"));
                    for (let i = 0; i < data.length; i++) {
                        let option = $("<option>").val(data[i].did).text(data[i].dname);
                        $("#district").append(option);
                    }
                }
            })
        });

        //选中区/县时获取街道/乡/镇
        $("#district").change(function () {
            let did = $("#district").val();
            let obj = $("#street");
            $.ajax({
                type: "post",
                url: "[[@{/address/getS}]]",
                data: {"did": did},
                dataType: "json",
                success: function (data) {
                    obj.empty();
                    obj.append($("<option disabled selected>").val('').text("请选择街道/乡/镇"));
                    for (let i = 0; i < data.length; i++) {
                        let option = $("<option>").val(data[i].sid).text(data[i].sname);
                        $("#street").append(option);
                    }
                }
            })
        })
    });
</script>
<script>
    $("#form1").submit(function (event) {
        event.preventDefault();
        let form = $(this);
        $.ajax({
            type: form.attr("method"),
            url: "[[@{/address/add}]]",
            data: form.serialize(),
            dataType:"json",
            success: function (data) {
                if (data.count>0){
                    alert("添加成功");
                    window.location.href="[[@{/user/ucenter}]]"
                }else {
                    layer.msg("添加失败")
                }
            },
        })
    })
</script>
</html>