<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到加里敦大学在线交易平台</title>
    <style>
        .item-info{
            color: coral;
        }
        .item-info:hover{
            color: #2D93CA;
        }
    </style>
    <link rel="stylesheet" th:href="@{/stylesheets/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/index.css}">
    <link rel="stylesheet" th:href="@{/scripts/layui/css/layui.css}">
    <script th:src="@{/scripts/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/scripts/layui/layui.js}"></script>
    <script th:src="@{/scripts/bootstrap.min.js}"></script>
</head>
<body style="background-image: url(/images/background.jpg);background-attachment: fixed;background-repeat: no-repeat;background-size: 100% 100%;-moz-background-size: 100% 100%">
<div th:if="${session.user == null}">
    <div align="center">
        <br>
        <p style="color: wheat;font-size: 70px">加里敦大学在线交易平台</p><br>
        <p style="color: wheat;font-size: 50px">W&nbsp;E&nbsp;L&nbsp;C&nbsp;O&nbsp;M</p><br><br><br>
        <p style="color: wheat;font-size: 50px">请先<a style="color: red" th:href="@{/user/logPage}">登录</a></p>
    </div>
</div>
<div th:if="${session.user != null}">
    <div th:include="top :: top"></div>
    <div align="center">
        <br>
        <p style="color: wheat;font-size: 70px">加里敦大学在线交易平台</p><br>
        <p style="color: wheat;font-size: 50px">W&nbsp;E&nbsp;L&nbsp;C&nbsp;O&nbsp;M</p><br><br><br>
        <form id="form1" method="post" th:action="@{/item/pickItem}">
            <div class="search open" style="background-color: #242628">
                <input name="text" placeholder="Type to search..." type="search" class="search-box"/>
                <button type="submit" class="search-button" style="background-color: #242628;border: none">
                    <span class="search-icon"></span>
                </button>
            </div>
        </form>
    </div>
    <br><br><br>
    <div class="container" align="center">
        <h1 style="color: wheat">为你推荐:</h1><br><br>
        <div align="left" style="margin-left: 300px" th:each="item,status:${items}">
            <a th:href="@{/item/info(iid=${item.iid})}" target="_blank">
                <div class="item-info" style="float: left">
                    <img th:src="${item.ipic}" width="110px" height="80px" style="float: left">
                    <span>名称：<span th:text="${item.iname}"></span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>上架时间：<span th:text="${#dates.format(item.itime,'yyyy-MM-dd HH:mm')}"></span></span>&nbsp;<br>
                    <span>描述：</span><span th:text="${item.idescribe}"></span>&nbsp;<br><br>
                    <span>价格：￥<span style="color: red" th:text="${item.iprice}"></span></span>
                </div>
            </a>
            <br><br><br><br><br><br>
        </div>
    </div>
</div>
</body>
<script>
    //搜索功能
    $(function () {
        $(".search-button").click(function () {
            let text = $(".search-box").val();
            if (text === '') {
                return false
            }
            $("#form1").submit();
        });
    })
</script>
<script>
    //检验登录状态
    $(function () {
        $.ajax({
            type: "post",
            url: "[[@{/user/keepLogin}]]",
            data: null,
            dataType: "json",
            success: function (data) {
                if (data.code == 1){
                    if ('[[${session.user}]]' === ''){
                        window.location.href="[[@{/}]]";
                    }
                }
            }
        });
    })
</script>
</html>