<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style>
        a{
            color: red;
            text-decoration: none;
        }
    </style>
</head>
<body style="background-image: url(/images/background.jpg)">
<div align="center">
    <h2 style="color: wheat">霍格沃茨魔法学校在线交易平台</h2>
    <h3 style="color: wheat">W&nbsp;E&nbsp;L&nbsp;C&nbsp;O&nbsp;M</h3><br><br><br><br><br>
    <h2 style="color: wheat">请先<a th:href="@{/user/login}">登录</a></h2>
</div>
</body>
</html>