<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${session.user.uname}]]的物品</title>
    <link rel="stylesheet" th:href="@{/stylesheets/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/searchPage.css}">
    <link rel="stylesheet" th:href="@{/scripts/layui/css/layui.css}">
    <script th:src="@{/scripts/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/scripts/layui/layui.js}"></script>
    <script th:src="@{/scripts/bootstrap.min.js}"></script>
</head>
<body>
<div th:include="top :: top"></div>
<br><br>
<div class="container" align="center">
    <h1 style="color: wheat">我上架的物品:</h1><br><br>
    <div th:if="${items.size() == 0}">
        <br>
        <h2 style="color: rebeccapurple">您还没有上架物品呢o(╥﹏╥)o</h2>
    </div>
    <div align="left" style="margin-left: 300px" th:if="${items.size() > 0}">
        <div th:each="item,status:${items}">
            <a th:href="@{/item/editPage(iid=${item.iid})}">
                <div class="item-info" style="float: left">
                    <img th:src="${item.ipic}" width="110px" height="80px" style="float: left">
                    <span>名称：<span th:text="${item.iname}"></span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>上架时间：<span th:text="${#dates.format(item.itime,'yyyy-MM-dd HH:mm')}"></span></span>&nbsp;<br>
                    <span>描述：</span><span th:text="${item.idescribe}"></span>&nbsp;<br><br>
                    <span>价格：￥<span style="color: red" th:text="${item.iprice}"></span></span>
                </div>
            </a>
            <br><br><br><br><br><br>
        </div>
    </div>
</div>
</body>
</html>